<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rescueDetail_request_button_text</key>
	<string>0,0,0,1</string>
	<key>order_tableviewcellSeparator</key>
	<string>110,110,110,0.7</string>
	<key>rescue_nav_barTint</key>
	<string>255,255,255,0</string>
	<key>rescue_header_separator</key>
	<string>226,226,226,0.3</string>
	<key>rescue_header_label_bg</key>
	<string>255,255,255,0</string>
	<key>rescue_header_label_text</key>
	<string>255,255,255,1</string>
	<key>rescue_content_bg</key>
	<string>195,195,195,1</string>
	<key>rescue_content_text</key>
	<string>25,25,25,1</string>
	<key>rescue_content_separator</key>
	<string>143,143,143,1</string>
	<key>rescue_next</key>
	<string>0,25,55,1</string>
	<key>rescue_detail_price_container_bg</key>
	<string>100,100,100,0.2</string>
	<key>rescue_detail_title_text</key>
	<string>255,255,255,1</string>
	<key>rescue_detail_picker_bg</key>
	<string>255,255,255,0</string>
	<key>order_recevied_tip_title</key>
	<string>255,255,255,1</string>
</dict>
</plist>
